<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Pedido concluido com sucesso</h2>
        <p>Você pode checkar todos seus pedidos no seu perfil!</p>
        <hr />
        <p>Obrigado!</p>
    </div>
</div>