@model List<Order>

@{
    ViewData["Title"] = "Lista de produtos vendidos";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Lista de todos os seus pedidos</h4>
        </p>

        <table class="table">
            <thead>
                <tr>

                    <th>Produtos Vendidos</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>

                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span>  @item.Produto.NomeProduto
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>