<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>Conta criada com sucesso!</h2>
        <p>Você pode logar na sua conta agora!</p>
        <hr />
        <p>Obrigado!</p>
    </div>
</div>